/* Messages.css */
.messages-container {
  display: flex;
  flex-direction: column;
  height: 800px;
  border: 1px solid #ccc;
  padding: 100px;
  background: #f9f9f9;
}

.messages-list {
  flex-grow: 1;
  overflow-y: auto;
  padding: 10px;
  margin-bottom: 10px;
}

.message-item {
  max-width: 60%;
  padding: 8px 12px;
  margin: 5px 0;
  border-radius: 15px;
  position: relative;
  font-size: 14px;
}

.message-item.sent {
  background-color: #d1e7dd;
  align-self: flex-end;
}

.message-item.received {
  background-color: #e2e3e5;
  align-self: flex-start;
}

.timestamp {
  font-size: 10px;
  color: #999;
  position: absolute;
  bottom: -15px;
  right: 10px;
}

.message-form {
  display: flex;
  align-items: center;
}

.message-input {
  flex-grow: 1;
  padding: 10px;
  font-size: 14px;
  border-radius: 20px;
  border: 1px solid #ccc;
  margin-right: 10px;
}

.send-button {
  padding: 10px 20px;
  background-color: #0d6efd;
  border: none;
  border-radius: 20px;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s;
}

.send-button:hover {
  background-color: #084dbc;
}
.sender {
  font-weight: bold;
  margin-right: 8px;
}
